Create An Activity

<%= form_for :activity do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :location %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :time %><br>
      <%= f.datetime_select :time %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>